/* regole generali */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  max-width:50%;
  height: auto;
}
#screenimg{
  max-width: 82%;
  height: auto;
}

.container{
  margin: 25px auto;
}

[class*="col-"] {
  margin: 5px 0;
  /* REGOLE DEBUG  */
  /* min-height: 100px; */
  /* background-color: lightgreen; */
  /* border: solid 1px #000; */
}

.background{
  width: 100vw;
  background-color: #f9f9f9;
}

.title{
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  line-height: 50px;
}
.box{
  padding: 14px 2%;
  text-align: center;
}

/* proprietà sezione 3 */

#profileimg{
  padding: 1% 1%;
  border-radius: 50% 50%;
  max-width: 25%;
  height: auto;
  background-color: blue;
  color: lightblue;
}
.board_bottom{
  border-bottom: solid 1px #000;
}

/* proprietà responsive */

/* proprietà in mobile */
@media screen and (max-width: 768px){
  #screenimg{
    max-width: 55%;
    height: auto;
  }
  img{
    max-width:40%;
    height: auto;
  }
  .box{
    padding: 15px 3%;
  }
  .title{
    font-size: 35px;
    font-style: italic;
    font-weight: bolder;
  }
  h3{
    color: red;
    font-size: 25px;
    font-family: monospace;
  }
  p{
    font-family: sans-serif;
    font-size: 20px;
  }
}

/* proprietà in tablet */
@media screen and (min-width: 769px) and (max-width: 992px){
  #screenimg{
    max-width: 55%;
    height: auto;
  }
  img{
    max-width:35%;
    height: auto;
  }
  .box{
    padding: 15px 3%;
  }
  .title{
    color: red;
    font-size: 35px;
    font-style: normal ;
    font-weight: bolder;
  }
  h3{
    color: green;
    font-size: 25px;
    font-family: monospace;
  }
  p{
    font-family: sans-serif;
    font-size: 16px;
  }
  .board_bottom{
    height: 150px;
    padding: 20px 0;
  }
}
